@font-face {
    font-family: 'Police2';
    src: url('fonts/police2.eot');
    src: url('fonts/police2.eot') format('embedded-opentype'),
         url('fonts/police2.woff2') format('woff2'),
         url('fonts/police2.woff') format('woff'),
         url('fonts/police2.ttf') format('truetype'),
         url('fonts/police2.svg#police2') format('svg');
}


@font-face {
	font-family: 'Police1';
         src: url('fonts/police1.eot');
         src: url('fonts/police1.eot') format('embedded-opentype'),
              url('fonts/police1.woff2') format('woff2'),
              url('fonts/police1.woff') format('woff'),
              url('fonts/police1.ttf') format('truetype'),
              url('fonts/police1.svg#police1') format('svg');
}
a:link 
{ 
 text-decoration:none; 
} 
body{
	//background-color: rgb(218,234,64);
	background-color: #8FCF3C;
}


div{
	text-align: center;
//	border : solid black 1px;

}

textarea{
//	background-color: rgb(206,234,64);

}
#header a img{
	width: 25px;
	height: 25px;

}
#header a{
	font-family: Police1;
	color : green;
	text-align: left;
	margin-right: 70%;
	margin-bottom: -50%;
	font-size: 190%;
}
#header{
	width:100% ;
	height:10% ;
    background-color: #B6E33D;
    box-shadow: 5px 5px 10px green;
	margin-bottom: 2%;
	border-radius: 20px 0px 20px 0px;
	//background-color: blue ;
}

#corps{
       font-family: Police2;
       width: 100% ;
      //background-color: yellow;

	
}

#footer{
	height: 10%;
      width: 100%;
       background-color: green;
	bottom: 0%;
	clear: both;

}

#co{
	margin-left: 78%;
	position : fixed;
	width: 20%;
	height: 70%;
	background-color: #B6E33D;
	box-shadow: 5px 5px 10px green;

}

#co img{
	width:  150px;
	height:  150px;
}

#sujet{
	
	float: left;
	width: 20%;
	height: 70%;
	position : fixed;
	background-color: #B6E33D;
	box-shadow: 5px 5px 10px green;

}

#connection{
	width: 100%;
	height: 90%;
//	position : fixed;
//	background-color: grey;
}
article{
//	border : solid black 1px;
	margin-right : 23%;
	margin-left :22%;
	background-color: #B6E33D;
	box-shadow: 5px 5px 10px green;
}

.bouton_connection{
	background-image: url("image/connexion.png");

}
